<body class="index">
  {{> header}}
  <div id="main">
    <div id="callToAction">
      <img src="//avatar-maker-danni.s3-ap-southeast-2.amazonaws.com/pallete_header.png" class="logo" />
      <h2>Create your unique funky avatar today!</h2>
      <h3>Are you ready?</h3>
      <div class="make-avatar-button">
        <a href="/make/avatar">Let's begin!</a>
      </div>
    </div>
    <div id="more">
      <h2>Recent Avatars</h2>
      {{> avatars}}
    </div>
    {{> footer}}
  </div>
</body>
