<body class="index">
  {{> header}}
  <div id="main">
    <div id="callToAction">
      <img src="/assets/logo_header.png" class="logo" />
      <h2>Avatar is for everyone</h2>
      <h3>Share your cyber avatar!</h3>
      <div class="make-avatar-button">
        <a href="/make/avatar">Make an avatar!</a>
      </div>
    </div>
    <div id="more">
      <h2>Recent Avatars</h2>
      {{> avatars}}
    </div>
    {{> footer}}
  </div>
</body>
